img[lazy=loaded] {
	-webkit-animation-name: opacity; /*动画名称*/
	-webkit-animation-duration: 2s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-timing-function: normal;
}

@-webkit-keyframes opacity {
  from { opacity: 0.3 } 
  to { opacity: 1 }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}